# Supabase
.branches
.temp

# dotenvx
.env.keys
.env.local
.env.*.local

node_modules/


# This is Tim's Git Test.


.vercel
.env
.env.local
.DS_Store
.next
node_modules
.env* # Make sure to ignore envs